body {
    background-color: #668ba4;
    margin: 0px;
    padding: 0px;
}

.topnav {
    background-color: #97cba9;
    overflow: hidden;
}

.topnav a{
    text-decoration: none;
    float: left;
}


