body {
    background-color: #668ba4;
    margin: 0px;
    padding: 40px 0px;
}

.topnav {
    background-color: #97cba9;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 15px 5px;
    z-index: 1000;
}

.topnav a{
    text-decoration: none;
    float: left;
    margin: 0px 5px;
}

.item-img {
    max-width: 200px;
    height: auto;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section {
    width: 80%;
}

